$wizard-brown: rgb(190, 130, 70);

.header {
  height: 20%;

  ul {
    padding-top: 20px;
  }

  li {
    list-style-type: none;
    float: left;
    width: 25%;
    position: relative;
    text-align: center;
    color: $wizard-brown;
    font-weight: 500;
    cursor: pointer;
  }

  li a:visited {
    color: $wizard-brown;
  }

  li::before {
    content: '';
    width: 6px;
    height: 6px;
    border: 0;
    display: block;
    text-align: center;
    margin: 13px auto 18px;
    border-radius: 50%;
    background-color: $wizard-brown;
    cursor: auto;
  }

  li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: lightgray;
    top: 15px;
    left: -50%;
    z-index: -1;
    cursor: auto;
  }

  li:first-child::after {
    content: none;
  }
}

li.current::before {
  border: 8px solid $wizard-brown;
  margin: 5px auto 10px;
  background-color: white;
}

li.current::after {
  background-color: $wizard-brown;
}

li.visited::before {
  border: 4px solid $wizard-brown;
  margin: 9px auto 14px;
  background-color: white;
}

li.visited::after {
  background-color: $wizard-brown;
}


li.unvisited::before {
  border: 0px;
  margin: 13px auto 18px;
  background-color: $wizard-brown;
}

li.unvisited::after {
  background-color: lightgray;
}
